@import "../../../css/btscanBase";

.topTextDiv {
  width: 750px;
  padding-bottom: 20px;
}

.firstDiv{
  height: 90px;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.leftDiv{
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.clearListDiv{
  height: 70px;
  width: 220px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background-color: $base-color;
}

.clearListDiv:active{
  background-color: $deep-base-color;
}

.clearIcon{
  font-family: btscanIcon;
  color: white;
  font-size: $font-size-big;
  margin-right: 10px;
}

.text-80 {
  font-size: $font-size-80;
  font-weight: 700;
  line-height: 65px;
}

.bottomFirstDiv{
  height: 90px;
  width: 750px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  background-color: gainsboro;
}

.bottomLeftDiv{
  height: 90px;
  align-items: center;
  flex-direction: row;
}

.bottomRightDiv{
  height: 90px;
  align-items: center;
  flex-direction: row;
}

.bottomRightDiv:active {
  background-color: #c1c1c1;
}

.countIcon{
  font-family: btscanIcon;
  color: black;
  font-size: 50px;
  margin-right: 10px;
}

.goIcon{
  font-family: btscanIcon;
  color: gray;
  font-size: $font-size-normal;
  margin-left: 10px;
}

.cellInnerDiv{
  padding-left: 30px;
  padding-right: 30px;
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
}

.cellLeftDiv{
  flex-direction: row;
  height: 90px;
  align-items: center;
}

.devIcon{
  font-family: btscanIcon;
  font-size: 50px;
  color: black;
  margin-right: 20px;
  opacity: 1;
}

.devIconElse{
  font-family: btscanIcon;
  font-size: 50px;
  color: black;
  margin-right: 20px;
  opacity: 0.2;
}

.cellRightDiv{
  flex-direction: row;
  height: 90px;
  align-items: center;
}

.addIcon{
  font-family: btscanIcon;
  font-size: 50px;
  color: black;
  margin-left: 10px;
  opacity: 1;
}

.addIconCheck{
  font-family: btscanIcon;
  font-size: 50px;
  color: lightgray;
  margin-left: 10px;
  opacity: 0.8;
}

.width360{
  width: 360px;
  text-overflow: ellipsis;
  lines: 1;
}
