
.titleDiv {
height: 90px;
background-color: #1db0b8;
align-items: center;
justify-content: center;
}
.returnIcon{
font-family: btscanIcon;
font-size: 45px;
position: absolute;
left: 0px;
top: 20px;
color: white;
}
.colorWhite{
color: white;
}

.navi-title {
align-items: center;
}

.titleText {
font-size: 40px;
color: white;
}

.listHead{
flex-direction: row;
justify-content: flex-start;
align-items: center;
height: 90px;
background-color: #c1c1c1;
}
.textLabel {
font-size: 35px;
margin-left: 30px
}
.textName {
font-size: 35px;
margin-left: 130px
}
.textBattery {
font-size: 35px;
margin-left: 200px
}
.listBox{
flex: 1;
}
.cricleDev{
height: 80px;
align-items: center;
border-bottom-width: 2px;
border-bottom-style:dashed;
border-bottom-color: #8a8a8a;
flex-direction: row;
}
.cellDiv1{
margin-left:30px;
height: 80px;
align-items: center;
flex-direction: row;
justify-content: space-between;
}
.labelDiv{
width:270px;
}
.batteryDiv{
width:100px;
margin-left:70px;
}
.text30 {
font-size: 30px;
}
.buttonDiv {
height: 100px;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 20px;
}
.text40 {
font-size: 40px;
}


