//yjz

.titleDiv {
  height: 90px;
  background-color: #1db0b8;
  align-items: center;
  justify-content: center;
}

.titleText {
  font-size: 40px;
  color: white;
}

.butt {
  height: 70px;
  width: 150px;
  margin-left: 30px;
  background-color: #1db0b8;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.butt:active {
  height: 70px;
  width: 150px;
  margin-left: 30px;
  background-color: #16878d;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.text32 {
  font-size: 32px;
}

.text36 {
  font-size: 36px;
}

.text50{
  font-size: 46px;
}

.text80 {
  font-size: 80px;
  font-weight: 700;
  line-height: 65px;
}

.buttonDiv {
  height: 100px;
  width: 750px;
  flex-direction: row;
  align-items: center;
}

.tabDiv {
  height: 110px;
  width: 750px;
  flex-direction: row;
  border-top-width: 2px;
  border-top-color: #a6a6a6;
  border-bottom-width: 2px;
  border-bottom-color: #a6a6a6;
}

.colorBlack {
  color: black;
}

.colorWhite{
  color: white;
}

.tabItemDiv {
  height: 110px;
  width: 375px;
  justify-content: center;
  align-items: center;
}

.tabItemDivChecked {
  height: 110px;
  width: 375px;
  justify-content: center;
  align-items: center;
  border-bottom-width: 10px;
  border-bottom-color: #1db0b8;
}

.middleTextDiv {
  height: 100px;
  width: 750px;
}

.firstDiv{
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.leftDiv{
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.clearListDiv{
  height: 80px;
  width: 250px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1db0b8;
}
.clearListDiv:active{
  height: 80px;
  width: 250px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #16878d;
}

.clearIcon{
  font-family: btscanIcon;
  color: white;
  font-size: 40px;
  margin-right: 10px;
}

.listBox{
  min-height: 300px;
  flex: 1;
  border-top-width: 2px;
  border-top-color: #a6a6a6;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.cellInnerDiv{
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
}

.cellLeftDiv{
  flex-direction: row;
  height: 90px;
  align-items: center;
}

.devIcon{
  font-family: btscanIcon;
  font-size: 50px;
  color: black;
  margin-right: 20px;
  opacity: 1;
}

.devIconElse{
  font-family: btscanIcon;
  font-size: 50px;
  color: black;
  margin-right: 20px;
  opacity: 0.2;
}

.cellRightDiv{
  flex-direction: row;
  height: 90px;
  align-items: center;
}

.addIcon{
  font-family: btscanIcon;
  font-size: 50px;
  color: black;
  margin-left: 10px;
  opacity: 1;
}

.addIconCheck{
  font-family: btscanIcon;
  font-size: 50px;
  color: lightgray;
  margin-left: 10px;
  opacity: 0.5;
}

.bottomDiv{
  width: 750px;
  //position: absolute;
  //bottom: 0px;
}

.bottomFirstDiv{
  height: 90px;
  width: 750px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-width: 2px;
  border-top-color: #a6a6a6;
  border-bottom-width: 2px;
  border-bottom-color: #a6a6a6;
  padding-left: 30px;
  padding-right: 10px;
}

.bottomSecondDiv{
  height: 110px;
  width: 750px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #1db0b8;
}

.bottomSecondDivElse{
  height: 110px;
  width: 750px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: orangered;
}

.countIcon{
  font-family: btscanIcon;
  color: black;
  font-size: 50px;
  margin-right: 10px;
}

.bottomLeftDiv{
  height: 90px;
  align-items: center;
  flex-direction: row;
}

.bottomRightDiv{
  height: 90px;
  align-items: center;
  flex-direction: row;
}

.goIcon{
  font-family: btscanIcon;
  color: black;
  font-size: 50px;
  margin-left: 10px;
}

.scanIcon{
  font-family: btscanIcon;
  font-size: 100px;
  color: white;
  margin-right: 20px;
}

.taskMiddleDiv{
  height: 170px;
  width: 750px;
}

.taskMiddleTopDiv{
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.taskInput{
  width: 500px;
  height: 90px;
  border-radius: 10px;
  border-width: 2px;
  padding: 20px;
  color: black;
}

.taskMiddleBottomDiv{
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.countRightDiv{
  height: 50px;
  flex-direction: row;
  align-items: flex-end;
}

.deleteIcon{
  font-family: btscanIcon;
  font-size: 50px;
  color: black;
}

.commitDiv{
  height: 110px;
  width: 750px;
  justify-content: center;
  align-items: center;
  border-top-width: 2px;
  border-top-color: #a6a6a6;
  border-bottom-width: 2px;
  border-bottom-color: #a6a6a6;
}

.commitButtonDiv{
  height: 90px;
  width: 450px;
  justify-content: center;
  align-items: center;
  background-color: #1db0b8;
  border-radius: 10px;
}

.commitButtonDiv:active{
  height: 90px;
  width: 450px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #16878d;
}

.returnIcon{
  font-family: btscanIcon;
  font-size: 45px;
  position: absolute;
  left: 0px;
  top: 20px;
  color: white;
}

.width360{
  width: 360px;
  text-overflow: ellipsis;
  lines: 1;
}
