//color
$base-color: #1da1f2;
$deep-base-color: #1A77FF;

//fontSize
$font-size-small:  32px;
$font-size-normal: 36px;
$font-size-big:    40px;
$font-size-80:     80px;


.text-normal {
  font-size: $font-size-normal;
}

.text-small {
  font-size: $font-size-small;
}

.text-big {
  font-size: $font-size-big;
}

