//color
$base-color:              #1da1f2;
$deep-base-color:         #1A77FF;
$add-icon-color:          #15a231;
$delete-icon-color:       #bf1d1e;
$base-gray:               #EAE3E3;

//fontSize
$font-size-26:            26px;
$font-size-small:         32px;
$font-size-normal:        36px;
$font-size-big:           40px;
$font-size-80:            80px;

//border-radius
$border-radius:           12px;


.text-normal {
  font-size: $font-size-normal;
}

.text-small {
  font-size: $font-size-small;
}

.text-big {
  font-size: $font-size-big;
}
.text-26 {
  font-size: $font-size-26;
}

.colorWhite{
  color: white;
}

.list{
  flex: 1;
}
