@import "../../../css/btscanBase";

.top-box{
  height: 110px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.list-head {
  height: 80px;
  width: 750px;
  margin-top: 20px;
  align-items: center;
  flex-direction: row;
  background-color: $base-gray;
}

.left-text {
  margin-left: 30px;
}

.middle-text {
  margin-left: 150px;
}

.right-text {
  margin-left: 190px;
}

.cellInnerDiv{
  padding-left: 20px;
  padding-right: 20px;
  height: 90px;
  flex-direction: row;
  align-items: center;
}

.common-style {
  position: absolute;
  top: 27px;
}

.text-key {
  left: 20px;
}

.text-alias {
  left: 300px;
}

.text-battery {
  left: 610px;
}

.delete-icon {
  left: 690px;
  font-family: btscanIcon;
  font-size: $font-size-normal;
  color: $delete-icon-color;
}

.searchBar-box {
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.popup-box {
  margin-top: 40px;
}

.popup-inner-box {
  margin-left: 50px;
  margin-right: 50px;
  height: 110px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 470px;
  height: 70px;
  padding-left: 16px;
  padding-right: 16px;
  color: black;
  background-color: $base-gray;
  border-radius: $border-radius;
}

.popup-button-box {
  position: absolute;
  width: 750px;
  bottom: 0px;
  left: 0px;
  flex-direction: row;
}

.popup-button {
  height: 100px;
  width: 375px;
  border-top-width: 2px;
  border-color: $base-gray;
  justify-content: center;
  align-items: center;
}

.popup-left-button {
  border-right-width: 1px;
}

.popup-right-button {
  border-left-width: 1px;
}

.colorBase {
  color: $base-color;
}
