@import "../../../css/btscanBase";

.top-box{
  height: 110px;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-head {
  height: 80px;
  width: 750px;
  margin-top: 20px;
  align-items: center;
  flex-direction: row;
  background-color: $base-gray;
}

.left-text {
  margin-left: 30px;
}

.middle-text {
  margin-left: 150px;
}

.right-text {
  margin-left: 180px;
}

.cellInnerDiv{
  padding-left: 20px;
  padding-right: 20px;
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  font-family: btscanIcon;
  font-size: $font-size-normal;
  color: red;
}
