
.deleteIcon{
font-family: btscanIcon;
font-size: 50px;
color: black;
margin-left: 10px;
}
.deleteIcon:active{
font-family: btscanIcon;
background-color: #c1c1c1;
font-size: 50px;
color: black;
margin-left: 10px;
}
.findIcon{
font-family: btscanIcon;
font-size: 46px;
color: white;
// margin-left: 10px;
}

.returnIcon{
font-family: btscanIcon;
font-size: 45px;
position: absolute;
left: 0px;
top: 20px;
color: white;
}

.titleDiv {
height: 90px;
background-color: #1db0b8;
align-items: center;
justify-content: center;
}

.titleText {
font-size: 40px;
color: white;
}
.text32 {
font-size: 32px;
}

.text36 {
font-size: 36px;
}

.text50{
font-size: 46px;
}

.text80 {
font-size: 80px;
font-weight: 700;
line-height: 65px;
}

.colorWhite{
color: white;
}

.button {
/* flex-direction: row; */
height: 70px;
width: 120px;
background-color: #1db0b8;
justify-content: center;
align-items: center;
border-radius: 10px;
}

.button:active{
  background-color: #16878d;
}

.button2 {
/* flex-direction: row; */
height: 70px;
width: 140px;
background-color: #1db0b8;
justify-content: center;
align-items: center;
border-radius: 10px;
}

.button2:active{
  background-color: #16878d;
}

.buttonDiv {
height: 100px;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-left: 20px;
// margin-right: 20px;
}

.findButtonDiv{
margin-right: 20px;
height: 70px;
width: 70px;
background-color:#1db0b8;
align-items: center;
justify-content: center;
border-radius: 10px;
}
.findButtonDiv:active {
background-color: #16878d;
}
.search-feild {
/* margin-right: 20px; */
padding-left: 10px;
/* // margin-left: 100px; */
width: 220px;
height: 70px;
color: black;
border-width: 1px;
border-radius: 10px;
}
.listBox{
flex: 1;
// border-top-width: 2px;
// border-top-color: #a6a6a6;
// margin-top: 15px;
// margin-left: 20px;
// margin-right: 20px;
}


.cellDiv1{
// width: 650px;
margin-left:20px;
height: 80px;
align-items: center;
flex-direction: row;
justify-content: space-between;
}

.cricleDev{
height: 80px;
align-items: center;
border-bottom-width: 2px;
border-bottom-style:dashed;
border-bottom-color: #8a8a8a;
flex-direction: row;
// justify-content: space-between;
}
.labelDiv{
width:270px;
}
.batteryDiv{
width:100px;
margin-left:20px;
}

.text30 {
font-size: 30px;
}
.popupDiv{
align-items: center;
justify-content: center;
align-items: center;
}
.navi-title {
align-items: center;
}
.popupChildDiv{
margin-top:30px;
height: 100px;
align-items: center;
justify-content: center;
flex-direction: row;
}

.text45 {
font-size: 45px;
}

.popupInput {
/* margin-right: 20px; */
padding-left: 10px;
/* // margin-left: 100px; */
width: 400px;
height: 80px;
color: black;
border-width: 1px;
border-radius: 10px;
margin-left: 30px;
}
.popupDisInput {
/* margin-right: 20px; */
padding-left: 10px;
/* // margin-left: 100px; */
width: 400px;
height: 80px;
color: black;
margin-left: 30px;
}
.listHead{
flex-direction: row;
justify-content: flex-start;
align-items: center;
height: 90px;
background-color: #c1c1c1;
}
.textLabel {
font-size: 35px;
font-weight: 550;
margin-left: 20px
}
.textName {
font-size: 35px;
font-weight: 550;
margin-left: 130px
}
.textBattery {
font-size: 35px;
font-weight: 550;
margin-left: 150px
}

.popupConfrimDiv{
height: 100px;
width: 375px;
align-items: center;
justify-content: center;
flex-direction: row;
border-width: 1px;
}
