@import "../../../css/btscanBase";

.title {
  font-size: $font-size-80;
  color: black;
  text-align: center;
  margin-top: 150px;
}

.buttons {
  width: 750px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
