@import "../../../css/btscanBase";

.title {
  font-size: $font-size-80;
  color: black;
  text-align: center;
  margin-top: 160px;
}

.buttons {
  width: 750px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.div1 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px
}

.image {
  width:750px;
  opacity: 0.6
}
//.image:after {
//  filter: blur(600px);
//}
