@import "../../../../css/btscanBase";

.box {
  width: 500px;
  height: 110px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  background-color: $base-color;
  border-radius: $border-radius;
}

.inner-box {
  width: 220px;
  flex-direction: row;
  align-items: center;
}

.box:active {
  background-color: $deep-base-color;
}

.title {
  font-size: $font-size-normal;
  margin-left: 30px;
}

.icon {
  font-family: btscanIcon;
  font-size: $font-size-big;
}

