@import "../../../../css/btscanBase";

.box {
  width: 500px;
  height: 110px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  background-color: $base-color;
  border-radius: 12px;
}

.box:active {
  background-color: $deep-base-color;
}

.title {
  color: black;
  font-size: $font-size-normal;
  text-align: center;
}
